// @import "./shared.scss";
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #656565;
  height: 15px;
  padding: 20px;
  color: #ceddde;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.flex-this {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
