.fullname {
  font-weight: bold;
  padding: 2px;
}

.title{
  padding-bottom: 2px;
  font-size: 12px;
}

.person-container {
  display: inline-block;
  margin: 1em;
  border: solid 1px darkgrey;
  padding: 10px;
  width: 215px;
}

.connect-button {
  margin-top: 15px;
  background-color: #ceddde;
  color: #656565;
  padding: 5px 13px;
  border: solid 1px #656565;
  font-weight: bold;
  font-size: 12px;
}

.connect-button:hover {
   background-color: #e0eff0;
}

.thumbnail {
  width: 90px;
  height: 90px;
}
