* {
  box-sizing: border-box;
}

.fullname {
  font-weight: bold;
  padding: 2px;
}

.title{
  padding-bottom: 2px;
  font-size: 12px;
}

.person-container {
  display: inline-block;
  padding: 10px;
  width: 237px;
  color: #464646;
  border: solid 1px darkgrey;
}

.connect-button {
  margin-top: 15px;
  background-color: #f7f7f7;
  color: #656565;
  padding: 5px 13px;
  border: solid 1px #656565;
  font-weight: bold;
  font-size: 12px;
}

.connect-button:hover {
   background-color: #ceddde;
}

.thumbnail {
  width: 90px;
  height: 90px;
}
